In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1303,tt1869716,6500000,2401510,The East,Brit Marling|Alexander SkarsgÃ¥rd|Ellen Page|T...,Zal Batmanglij,"Spy on us, we'll spy on you.",An operative for an elite private intelligence...,116,Drama|Thriller,Scott Free Productions,5/31/2013,6.3,2013
923,tt0250797,50000000,119137784,Unfaithful,Richard Gere|Diane Lane|Olivier Martinez|Erik ...,Adrian Lyne,Where do you go when you've gone too far?,Connie is a wife and mother whose 11-year marr...,124,Drama,Regency Enterprises|Fox 2000 Pictures|Epsilon ...,5/10/2002,6.4,2002
1830,tt0144084,7000000,34266564,American Psycho,Christian Bale|Willem Dafoe|Jared Leto|Josh Lu...,Mary Harron,I think my mask of sanity is about to slip.,A wealthy New York investment banking executiv...,102,Thriller|Drama|Crime,Lions Gate Films|Edward R. Pressman Film|Muse ...,4/13/2000,7.1,2000
786,tt1389137,50000000,120081841,We Bought a Zoo,Matt Damon|Scarlett Johansson|Thomas Haden Chu...,Cameron Crowe,A True Zoo Story,Benjamin has lost his wife. In a bid to start ...,124,Drama|Comedy|Family,Twentieth Century Fox Film Corporation|Dune En...,12/22/2011,6.4,2011
1642,tt0360201,31000000,41512007,Wimbledon,Kirsten Dunst|Paul Bettany|Sam Neill|James McA...,Richard Loncraine,She's the golden girl. He's the longshot. It's...,A pro tennis player has lost his ambition and ...,98,Comedy|Romance,Universal Pictures,9/13/2004,5.7,2004

In [3]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [4]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
# Make the new column 'profit'
data['profit'] = data['revenue'] - data['budget']

#Add new column - 'month'
data['release_date'] = data['release_date'].str.split('/')
data['month'] = data['release_date'].apply(lambda x:x[0])

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
top_budget = data[data.budget == data.budget.max()]
answers['1'] = 'Pirates of the Caribbean: On Stranger Tides (tt1298650)'
top_budget

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,"[5, 11, 2011]",6.3,2011,641683000,5

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [9]:
longest_movie = data[data.runtime == data.runtime.max()]
answers['2'] = 'Gods and Generals (tt0279111)'
longest_movie

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,"[2, 21, 2003]",5.8,2003,-43076064,2

# 3. Какой из фильмов самый короткий (в минутах)?

In [10]:
shortest_movie = data[data.runtime == data.runtime.min()]
answers['3'] = 'Winnie the Pooh (tt1449283)'
shortest_movie

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,"[4, 13, 2011]",6.8,2011,-15540000,4

# 4. Какова средняя длительность фильмов?

In [11]:
mean_time_movie = data.runtime.mean()
answers['4'] = 109.65
mean_time_movie

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [12]:
median_time_movie = data.runtime.median()
answers['5'] = 107
median_time_movie

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [13]:
# лучше код получения столбца profit вынести в Предобработку что в начале
most_profitable = data[data['profit'] == data['profit'].max()]
answers['6'] = 'Avatar (tt0499549)'
most_profitable

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,"[12, 10, 2009]",7.1,2009,2544505847,12

# 7. Какой фильм самый убыточный?

In [14]:
most_unprofitable = data[data['profit'] == data['profit'].min()]
answers['7'] = 'The Lone Ranger (tt1210819)'
most_unprofitable

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,7

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [15]:
revenue_higher_budget = data[data['revenue'] > data['budget']]
answers['8'] = 1478
len(revenue_higher_budget)

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [16]:
high_rev_2008 = data[data['release_year'] == 2008]
high_rev_2008 = high_rev_2008[high_rev_2008['revenue'] == high_rev_2008['revenue'].max()]
answers['9'] = 'The Dark Knight (tt0468569)'
high_rev_2008

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,"[7, 16, 2008]",8.1,2008,816921825,7

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [17]:
most_unprofitable = data[( data['release_year'] >= 2012) & (data['release_year'] <= 2014)]
most_unprofitable = most_unprofitable[most_unprofitable['profit'] == most_unprofitable['profit'].min()]
answers['10'] = 'The Lone Ranger (tt1210819)'
most_unprofitable

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,"[7, 3, 2013]",6.0,2013,-165710090,7

# 11. Какого жанра фильмов больше всего?

In [18]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
most_popular_genres = data.copy()
most_popular_genres['genres'] = most_popular_genres['genres'].str.split('|')
most_popular_genres = most_popular_genres.explode('genres')
most_popular_genres = most_popular_genres['genres'].value_counts()
answers['11'] = 'Drama'
most_popular_genres

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [19]:
most_profit_genere = data.copy()
most_profit_genere['genres'] = most_profit_genere['genres'].str.split('|')
most_profit_genere = most_profit_genere.explode('genres')
most_profit_genere = most_profit_genere[most_profit_genere['profit'] > 0]
most_profit_genere = most_profit_genere['genres'].value_counts()
answers['12'] = 'Drama'
most_profit_genere

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: genres, dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [20]:
dir_revenue = data.copy()
dir_revenue['director'] = dir_revenue['director'].str.split('|')
highest_dir_revenue = dir_revenue.explode('director')
highest_dir_revenue = highest_dir_revenue.groupby(['director'])['revenue'].sum().sort_values(ascending=False)
answers['13'] = 'Peter Jackson'
highest_dir_revenue

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [21]:
director_action = data[data.genres.str.contains('Action')].copy()
director_action['director'] = pd.Series(director_action['director'].str.split('|'))
director_action = director_action.explode('director')
director_action = director_action.director.value_counts()
answers['14'] = 'Robert Rodriguez'
director_action

Robert Rodriguez      9
Paul W.S. Anderson    7
Michael Bay           7
Antoine Fuqua         6
Ridley Scott          6
                     ..
Danny Pang            1
Sydney Pollack        1
Asger Leth            1
Christian Duguay      1
Eric Brevig           1
Name: director, Length: 364, dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [22]:
data2012 = data[data.release_year == 2012].copy()
data2012['cast'] = data2012['cast'].str.split('|')
data2012 = data2012.explode('cast')
data2012 = data2012.groupby(['cast'])['revenue'].sum().sort_values(ascending=False)
answers['15'] = 'Chris Hemsworth'
data2012

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Jason Bateman           3428048
Danny Huston            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [23]:
good_actor = data[data.budget > data.budget.mean()].copy()
good_actor['cast'] = good_actor['cast'].str.split('|')
good_actor = good_actor.explode('cast')
good_actor = good_actor.groupby(['cast'])['budget'].count().sort_values(ascending=False)
answers['16'] = 'Matt Damon'
good_actor

cast
Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Eddie Murphy         15
Samuel L. Jackson    15
                     ..
Leslie Bibb           1
Leonard Nimoy         1
Lennie James          1
Lena Olin             1
50 Cent               1
Name: budget, Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [24]:
Nic_Cage = data[data['cast'].str.contains('Nicolas Cage')].copy()
Nic_Cage['genres'] = Nic_Cage['genres'].str.split('|')
Nic_Cage = Nic_Cage.explode('genres')
Nic_Cage = Nic_Cage['genres'].value_counts()
answers['17'] = 'Action'
Nic_Cage

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Mystery             3
Family              3
Animation           3
History             2
Romance             1
War                 1
Horror              1
Name: genres, dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [25]:
param_p = data[data['production_companies'].str.contains('Paramount Pictures')].copy()
param_p = (param_p[param_p['profit'] == param_p['profit'].min()].original_title)
answers['18'] = 'K-19: The Widowmaker'
param_p

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [26]:
good_revenue_year = data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)
answers['19']  = 2015
good_revenue_year

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [27]:
good_wb_year = data[data.production_companies.str.contains('Warner Bros')].copy()
good_wb_year['production_companies'] = good_wb_year['production_companies'].str.split('|')
good_wb_year = good_wb_year.explode('production_companies')
good_wb_year = good_wb_year.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
answers['20'] = 2014
good_wb_year

release_year
2014    11407212316
2007     9808752478
2008     8232393786
2003     7882788875
2004     7353305273
2009     6508879437
2013     6451875149
2011     6189809006
2005     6076443126
2010     5952395957
2001     5194583917
2012     5090783245
2002     3826054138
2006     3139504609
2015     2745421723
2000     1769976543
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [28]:
data21 = data['month'].value_counts()
answers['21'] = 'Сентябрь'
data21

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [29]:
data22 = data[(data.month == '6') | (data.month == '7') | (data.month == '8')]
data22 = data22['imdb_id'].nunique()
answers['22'] = 450
data22

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [30]:
data23 = data[(data.month == '12') | (data.month == '1') | (data.month == '2')]
data23 = data23.explode('director')
data23 = data23['director'].value_counts()
answers['23'] = 'Peter Jackson'
data23

Peter Jackson         7
Steven Soderbergh     6
Clint Eastwood        6
Shawn Levy            4
Nancy Meyers          4
                     ..
Neil Marshall         1
John Frankenheimer    1
Ericson Core          1
Geoffrey Sax          1
Anand Tucker          1
Name: director, Length: 332, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [31]:
data24 = data.copy()
data24['production_companies'] = data['production_companies'].str.split('|')
data24 = data24.explode('production_companies')
data24['length'] = data24['original_title'].apply(lambda x:len(x))
data24 = data24.groupby(['production_companies'])['length'].mean().sort_values(ascending=False)
answers['24'] = 'Four By Two Productions'
data24

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Museum Canada Productions     46.0
Polsky Films                  46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Global Entertainment Group     2.0
Name: length, Length: 1771, dtype: float64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [32]:
data25 = data.copy()
data25['production_companies'] = data25['production_companies'].str.split('|')
data25 = data25.explode('production_companies')
data25['overview_words'] = data25['overview'].apply(lambda x:len(x.split(' ')))
data25 = data25.groupby(['production_companies'])['overview_words'].mean().sort_values(ascending=False)
answers['25'] = 'Midnight Picture Show'
data25

production_companies
Midnight Picture Show                    175.0
Room 9 Entertainment                     161.0
Heineken Branded Entertainment           161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
London Boulevard                          13.0
Phantom Four                              13.0
Henceforth                                13.0
Empire Pictures                           11.0
Motion Picture Corporation of America     11.0
Name: overview_words, Length: 1771, dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [33]:
data26 = data.sort_values('vote_average')[['original_title', 'vote_average']]
data26 = data26.query('vote_average >= vote_average.quantile(0.99)')
data26 = data26.groupby(['original_title'])['vote_average'].sum().sort_values(ascending=False)
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'
data26

original_title
The Dark Knight                                      8.1
Inside Out                                           8.0
Interstellar                                         8.0
Room                                                 8.0
The Imitation Game                                   8.0
Gone Girl                                            7.9
Memento                                              7.9
The Wolf of Wall Street                              7.9
Guardians of the Galaxy                              7.9
12 Years a Slave                                     7.9
Inception                                            7.9
The Lord of the Rings: The Return of the King        7.9
The Pianist                                          7.9
The Grand Budapest Hotel                             7.9
Eternal Sunshine of the Spotless Mind                7.8
Dallas Buyers Club                                   7.8
Her                                                  7.8
Big Hero 6                                           7.8
3 Idiots                                             7.8
There Will Be Blood                                  7.8
Mr. Nobody                                           7.8
Spotlight                                            7.8
The Fault in Our Stars                               7.8
The Lord of the Rings: The Fellowship of the Ring    7.8
The Lord of the Rings: The Two Towers                7.8
The Prestige                                         7.8
The Theory of Everything                             7.8
Prisoners                                            7.8
Name: vote_average, dtype: float64

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [34]:
from itertools import combinations
data27 = data.copy()
data27['cast'] = data['cast'].str.split('|')
#data27 = data27.explode('cast')
data27['pairs'] = data27['cast'].apply(lambda x: list(combinations(x, 2)))
data27 = data27.explode('pairs')
data27 = Counter(data27['pairs']).most_common(1)
answers['27'] = 'Daniel Radcliffe, Rupert Grint'
data27

[(('Daniel Radcliffe', 'Rupert Grint'), 8)]

ВАРИАНТ 2

# Submission

In [35]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': 'Gods and Generals (tt0279111)',
 '3': 'Winnie the Pooh (tt1449283)',
 '4': 109.65,
 '5': 107,
 '6': 'Avatar (tt0499549)',
 '7': 'The Lone Ranger (tt1210819)',
 '8': 1478,
 '9': 'The Dark Knight (tt0468569)',
 '10': 'The Lone Ranger (tt1210819)',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'Сентябрь',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe, Rupert Grint'}

In [36]:
# и убедиться что ни чего не пропустил)
len(answers)

27